#Copy this file to `.env` and replace the placeholders with your real values.

APP_NAME=Portfolio API
PORT=7000
NODE_ENV=development
JWT_SECRET=buhi_pako_intawn_lord
BACKEND_URL=http://localhost:7000
FRONTEND_URL=http://localhost:3000

# PostgreSQL connection
# Requires PostgreSQL >= 15
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/mydb"